{% apply htmlcompress %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    {% set title = sign
        ? ('horoscope.header'|trans({'%sign%': signs[sign] ~ ' ' ~ ('signs.' ~ sign)|trans, '%date%': date|default(today)|date('format.date'|trans)})|striptags)
        : 'meta.title'|trans %}
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ 'meta.description'|trans }}" />
    <meta name="keywords" content="{{ 'meta.keywords'|trans }}" />
    <meta name="author" content="{{ 'meta.author'|trans }} <{{ 'meta.email'|trans }}>" />

    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:image" content="{{ app.request.uriForPath('/banner.png') }}" />
    <meta property="og:site_name" content="{{ 'meta.title'|trans }}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ 'meta.description'|trans }}">
    <meta name="twitter:image" content="{{ app.request.uriForPath('/banner.png') }}">
    <meta name="twitter:site" content="{{ app.request.schemeAndHttpHost }}" />

    <link rel="icon" href="/logo.svg" sizes="any" type="image/svg+xml">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <style>
        *, :after, :before {
            box-sizing: border-box;
        }
        body {
            font-family: "Josefin Sans", sans-serif;
            font-size: 1.1rem;
            margin: 0;
            padding: 0;
        }
        .border-bottom {
            border-bottom: 1px solid #aaa;
        }
        .container {
            max-width: 720px;
            margin: 0 auto;
            padding: 1rem;
        }
        header {
            background-color: #ddd;
            text-align: center;
        }
        h1 a, h1 a:hover, h1 a:active, h1 a:visited {
            color: #000;
        }
        main {
            background-color: #eee;
        }
        .emoji {
            height: 1em;
        }
        .horoscope {
            margin: 2rem;
        }
        a {
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        ul.calendar {
            display: flex;
            list-style: none;
            padding-left: 0;
            justify-content: space-around;
            margin: 2rem 0;
            flex-direction: column;
            text-align: center;
        }
        @media (min-width: 600px) {
            ul.calendar {
                flex-direction: row;
            }
        }
        ul.calendar li {
            padding: .5rem;
        }
        ul.signs {
            list-style: none;
            padding-left: 0;
            column-count: 2;
        }
        @media (min-width: 600px) {
            ul.signs {
                column-count: 3;
            }
        }
        ul.signs li a {
            padding: 1rem;
            text-align: center;
            display: inline-block;
            width: 100%;
        }
        ul.signs li a:hover, ul.signs li a.active {
            background-color: #eee;
            text-decoration: none;
        }
        .nowrap {
            white-space: nowrap;
        }
    </style>
</head>
<body>
{% apply twemoji %}
    <header class="border-bottom">
        <div class="container">
            <h1>
                <a href="{{ path('home') }}">
                    <img src="/logo.svg" alt="" class="emoji"/>
                    {{ 'meta.title'|trans }}
                </a>
            </h1>
            <p>{{ 'meta.description'|trans }}</p>
        </div>
    </header>
    {% if sign %}
        <main class="border-bottom">
            <div class="container">
                <div class="horoscope">
                    <h2>
                        {{ 'horoscope.header'|trans({'%sign%': signs[sign] ~ ' ' ~ ('signs.' ~ sign)|trans, '%date%': date|default(today)|date('format.date'|trans)})|raw }}
                    </h2>
                    <p>
                        {{ 'horoscope.content'|trans|raw }}
                    </p>
                    <p>
                        {{ 'horoscope.growUp'|trans }}
                    </p>
                </div>
            </div>
        </main>
        <div class="container">
            <ul class="calendar">
                {% set prev = date|default(today)|date_modify('-1 day')|date('format.date'|trans) %}
                {% set current = date|default(today)|date('format.date'|trans) %}
                {% set next = date|default(today)|date_modify('+1 day')|date('format.date'|trans) %}
                <li>
                    <a href="{{ path('app_astro_home', {sign: sign, date: prev}) }}">
                        «
                        {{ prev }}
                    </a>
                </li>
                <li>
                    {{ current }}
                </li>
                <li>
                    <a href="{{ path('app_astro_home', {sign: sign, date: next}) }}">
                        {{ next }}
                        »
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
    <div class="container">
        <ul class="signs">
            {% for name, symbol in signs %}
                <li>
                    <a href="{{ path('app_astro_home', {sign: name, date: date ? date|date('format.date'|trans) : null}) }}" {% if name == sign %}class="active"{% endif %}>
                        {{ symbol }} {{ ('signs.' ~ name)|trans }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endapply %}
</body>
</html>
{% endapply %}
